.frame {
  width: 1000px;
  height: 1000px;
  background-image: url(Assets/frame.jpg);
  margin: -80px auto;
  z-index: 1;
  overflow: hidden;
}

.painting {
  width: 370px;
  height: 430px;
  background-color: rgb(18, 11, 39);
  transform: translateY(67%) translateX(87%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: -2px;
  filter: blur(2px);
}

.painting__box1 {
  width: 250px;
  height: 130px;
  background-color: rgb(202, 179, 32);
  transform: rotate(-0.6deg);
  border-radius: 4px 4px 4px 4px;
}

.painting__box2 {
  width: 300px;
  height: 130px;
  background-color: goldenrod;
  border-radius: 4px 4px 4px 4px;
}

.painting__box3 {
  width: 300px;
  height: 130px;
  background-color: red;
  border-radius: 7px 4px 58px 7px;
}
